<h1>Login</h1>
<form action="/login" method="post">
    {{#if mensajeError}}
        <div>
            {{mensajeError}}
        </div>
    {{/if}}
    <div>
        <label for="floatingInput">Username</label>
        <input type="text" id="floatingInput" placeholder="Your name" name="username" required="true">
    </div>
    <div>
        <label for="floatingPassword">Username</label>
        <input type="password" id="floatingPassword" placeholder="Password" name="password" required="true">
    </div>
    <button type="submit">Login</button>
    <a href="/signup">Go to signup</a>
</form>