<h1>Sign up</h1>
<form action="/signup" method="POST">
    {{#if mensajeError}}
    <div>
        {{mensajeError}}
    </div>
    {{/if}}
    <div>
        <label for="floatingPassword">Username</label>
        <input type="text" id="floatingPassword" placeholder="Your name" name="username" required="true">
    </div>
    <div>
        <label for="floatingPassword">Password</label>
        <input type="password" id="floatingPassword" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="true">
    </div>
    <div>
        <label for="floatingPassword">Password</label>
        <input type="password" id="floatingPassword" placeholder="Password" name="passwordRepeat" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="true">
    </div>
    <button type="submit">Sign Up</button>
    <a href="/login">Already registered</a>
</form>